// Hover Item
.rectangle-on-hover {
  .featured-image {
    position: relative;
    overflow: hidden;

    .date {
      position: absolute;
      bottom: 20px;
      left: 25px;
      background-color: #9a9e7a;
      color: #fff;
      padding: 4px 16px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 20px 25px;
      border: 1px solid #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    img {
      transition: all 0.3s ease-in-out;
      filter: grayscale(100%);
    }

    &:hover {
      img {
        transform: scale(1.05);
        filter: grayscale(0);
      }
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.text-on-hover {
  position: relative;
  overflow: hidden;

  .content {
    position: absolute;
    background-color: #fff;
    inset: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  img {
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
  }
  &:hover {
    img {
      transform: scale(1.05);
      filter: grayscale(0);
    }
    .content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.latest {
  .content {
    ul {
      li {
        &:not(:first-child) {
          list-style-type: disc;
          &::marker {
            color: #9a9e7a;
          }
        }
      }
    }
  }
}

.article-list {
  &-item {
    position: relative;

    .featured-image {
      margin-bottom: 16px;
    }
  }
}
