.header {
  &-menu {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      background-color: #9a9e7a;
      z-index: -1;
    }

    nav {
      ul {
        li {
          a {
            padding: 0 15px;
            background-color: #fff;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #9a9e7a;
              margin-top: 4px;
              transform-origin: right bottom; /* Set transform-origin to left */
              transform: scaleX(0);
              transition: transform 0.3s ease-in-out;
            }

            &.active::after {
              transform: scaleX(1);
            }

            &:hover {
              color: #9a9e7a;
              &::after {
                transform: scaleX(1);
                transform-origin: left bottom;
              }
            }
          }
        }
      }
    }
  }
}

// Hover Item
.rectangle-on-hover {
  .featured-image {
    position: relative;
    overflow: hidden;

    .date {
      position: absolute;
      bottom: 20px;
      left: 25px;
      background-color: #9a9e7a;
      color: #fff;
      padding: 4px 16px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 20px 25px;
      border: 1px solid #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    img {
      transition: all 0.3s ease-in-out;
      filter: grayscale(100%);
    }

    &:hover {
      img {
        transform: scale(1.05);
        filter: grayscale(0);
      }
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.text-on-hover {
  position: relative;
  overflow: hidden;

  .content {
    position: absolute;
    background-color: #fff;
    inset: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  img {
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
  }
  &:hover {
    img {
      transform: scale(1.05);
      filter: grayscale(0);
    }
    .content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.latest {
  .content {
    ul {
      li {
        &:not(:first-child) {
          list-style-type: disc;
          &::marker {
            color: #9a9e7a;
          }
        }
      }
    }
  }
}

.article-list {
  &-item {
    position: relative;

    .featured-image {
      margin-bottom: 16px;
    }
  }
}
